.container {
    @media (min-width: 576px) {
        max-width: 570px;
    }
    @media (min-width: 768px) {
        max-width: 740px;
    }
    @media (min-width: 992px) {
        max-width: 970px;
    }
    @media (min-width: 1200px) {
        max-width: 1110px;
    }
}
/*--------------------------------------------------------------
    [ ## Header ]
--------------------------------------------------------------*/
@import "header";

/*--------------------------------------------------------------
    [ ## Hero Styles]
--------------------------------------------------------------*/
// @import "hero/hero";

/*--------------------------------------------------------------
    [ ## Page Banner]
--------------------------------------------------------------*/
@import "page-banner";


/*--------------------------------------------------------------
    [ ## Footer ]
--------------------------------------------------------------*/
@import "footer";
