.search_modal {
    .modal-content {
        border-radius: 0;
    }
    .modal-header {
        border: 0;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 1;
        
        @include md-devices {
            right: 50px;
            top: 50px;
        }

        button {
            &:focus {
                box-shadow: none;
            }
            &:hover {
                color: #20166c;
            }
        }
    }
    .modal-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include sm-devices {
            padding: 1.5rem;
        }
        form, .button-group {
            max-width: 590px;
            margin: 0 auto;
            width: 100%;
        }
        form {
            margin-bottom: 20px;
            @include sm-devices {
                margin-bottom: 40px;
            }
            @include xxl-devices {
                margin-bottom: 60px;
            }
            .input-group {
                max-width: 340px;
                margin: 0 auto;
                border-bottom: 2px solid #20166c;
                align-items: center;
                padding-bottom: 8px;
                gap: 0 15px;

                .form-control {
                    padding: 0;
                    border: 0;
                    border-radius: 0;
                    font-size: 18px;
                    font-weight: 400;
                    color: #20166c;
                    &:focus {
                        outline: 0;
                        box-shadow: none;
                    }

                    &::placeholder {
                        font-weight: 400; 
                        color: #20166c;
                    }
                }
            }
        }
        .button-group {
            ul {
                display: grid;
                gap: 10px;
                @include sm-devices {
                    gap: 20px;
                    grid-template-columns: repeat(2, 1fr);
                }

                li {
                    a {
                        border: 2px solid #20166c;
                        color: #20166c;
                        font-size: 10px;
                        letter-spacing: 2px;
                        font-weight: 500;
                        display: block;
                        text-align: center;
                        padding: 14px 20px;
                        text-transform: uppercase;
                        transition: all 0.3s ease-out 0s;
                        
                        @include sm-devices {
                            font-size: 12px;
                        }
                        
                        &:hover {
                            color: #fff;
                            background-color: #20166c;
                        }  
                    }
                }
            }
        }
    }
}